cloud_id  = "b1gr4gl4tgqcjgpgsa9n"
folder_id = "b1gmp8gd4pgobdgeh20h"
#zone = "ru-central1-a"
image_id                 = "fd83sa5lpj5if4f45n8i"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "e9bfvuec130b3jad93q8"
service_account_key_file = "~/key.json"
